.mainWrapper {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  background-color: rgba(250, 250, 250, 1);
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
