.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  color: rgb(51, 51, 51);
  background-color: rgb(196, 183, 215);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .1em;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.header.inactive {
  color: rgba(51, 51, 51, 0.6);
  background-color: rgb(214, 207, 226);
}

.icon {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 2px;
  padding: 8px;
  background-image: url("../../assets/icon/game.svg");
  background-size: contain;
  background-clip: content-box;
  background-origin: content-box;
}

.title {
  position: absolute;
  line-height: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.windowBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  -webkit-app-region: no-drag;
}

.windowBtn {
  display: flex;
  flex: 1 1 auto;
  width: 40px;
  height: 40px;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}

.windowBtn:focus {
  outline: none;
}

.windowBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.windowBtn.close:hover {
  background-color: rgba(230, 35, 53, 1);
  color: white;
}

.windowBtn > span {
  align-self: center;
}
