.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  background-color: azure;
  -webkit-app-region: drag;
}

.windowBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
}

.windowBtn {
  display: flex;
  flex: 1 1 auto;
  width: 35px;
  height: 35px;
  justify-content: space-around;
  cursor: pointer;
}
.windowBtn:hover {
  background-color: cadetblue;
}

.windowBtn > span {
  align-self: center;
}
