.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  background-color: azure;
  font-size: 14px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 2px;
  padding: 5px;
  background-image: url("../../assets/icon/game.svg");
  background-size: contain;
  background-clip: content-box;
  background-origin: content-box;
}

.title {
  position: absolute;
  line-height: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.windowBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  -webkit-app-region: no-drag;
}

.windowBtn {
  display: flex;
  flex: 1 1 auto;
  width: 30px;
  height: 30px;
  justify-content: space-around;
  cursor: pointer;
  outline: none;
}

.windowBtn:focus {
  outline: none;
}

.windowBtn:hover {
  background-color: cadetblue;
  color: white;
}

.windowBtn > span {
  align-self: center;
}
