@value item-width: 48px;
@value item-height: 48px;

.navWrapper {
  width: 200px;
  flex: 0 0 auto;
  overflow: hidden;
  transition: width 0.08s;
  background-color: rgb(245, 245, 245);
}

.navWrapper:global(.large) {
  width: 200px;
}

.navWrapper:global(.small) {
  width: item-width;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100% - item-height);
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  position: relative;
  display: flex;
  height: item-height;
  align-items: stretch;
  color: rgba(0, 0, 0, 0.7);
}

.icon {
  flex: 0 0 item-height;
  padding: 12px;
  background-clip: content-box;
  background-origin: content-box;
  background-size: contain;
}
.iconU6 {
  background-image: url("../../assets/icon/u6.svg");
}
.iconU7 {
  background-image: url("../../assets/icon/u7.svg");
}
.iconWolves {
  background-image: url("../../assets/icon/wolves.svg");
}

.title {
  flex: 1 1 auto;
  line-height: item-height;
}
:global(.small) .title {
  display: none;
}

.link:hover,
.link:focus,
.link[class*="active"] {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 0.4s;
}

.link:hover::before,
.link:focus::before,
.link[class*="active"]::before {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: rgb(112, 86, 151);
}

.divider {
  margin: 0 8px;
  width: auto;
  min-width: auto;
}

.toggle {
  float: right;
  margin: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
